div, input, textarea {
    box-sizing: border-box; /*width가 border 과 padding 을 포함함.*/
}

body {
    margin: 0; /*여백 제거*/
}

table {
    border-collapse: collapse;
}


.proflie {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 50px;
}

td, th {
    border: 1px solid black; 
}

.name {
    text-align: center
}

.content{
    text-align: center;
}

.front{
    color: red;
}
.box {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 30px;
    padding: 40px;
    border: 4px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: 2opx;
    box-shadow: 5px 5px 5px red;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.hearder {
    width: 100%;
    height: 50px;
    background: aquamarine;
}



.blog-content {
    width: 80%;
    height: 200px;
    float: left;
}

.blog-img {
    width: 20%;
    height: 200px;
    float: left;
    background: yellow;
    display: flex; /* 내부 요소를 가로 방향으로 배치 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.blog-img img {
    width: auto; /* 가로 크기를 자동으로 조정하여 원본 비율을 유지 */
    height: 100%; /* 세로 크기를 부모 요소의 높이에 맞춤 */
    max-width: 100%; /* 이미지가 부모 요소를 벗어나지 않도록 */
    max-height: 100%; /* 이미지가 부모 요소를 벗어나지 않도록 */
}

.blog-profile {
    width: 50px;
    display: block;
    float: left;
}

.blog-name {
    float: left;
}

.navbar li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none; /*밑줄제거*/
    color: inherit; /*링크 색상 제거*/
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.main-text {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; /* 가로 중앙 정렬 */
    width: 150px;
    z-index: 2; /* explain-box보다 위에 위치하도록 조정 */
}

.explain-box {
    width: 80%; /*width는 컨텐츠의 영역을 의미함. padding, border 상관없음*/
    max-width: 600px; /*최대폭 지정 */
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -40px;
    z-index: 1;
}

input[type=text] {/*type이 text인 박스만 선택*/
    padding: 10px;
    font-size: 20px;
    border: 2px solid black; 
    border-radius: 5px;
}

.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black; 
    border-radius: 5px;
}

.w-50{
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100{
    width: 100%;
    padding: 10px;
}

.yellow-button {
    padding: 10px;
    display: block;
    margin-left: auto; /*오른쪽 정렬*/
    background-color: yellow;
    border-radius: 5px; /*박스 모서리 둥글게*/
}
